<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>
<%=form_for(@group) do |f|%>
<%=f.text_field :name %>
<%=f.submit%>
<%end%>
<fieldset>
	<legend>available groups</legend>
	<table>
		<tr>
			<th>name</th>
			<th>started at</th>
			</tr>
			<%@groups.each do |group|%>
			<tr>
			<td><%=group.name%></td>
			<td><%=group.created_at%></td>
		</tr>
			<%end%>
	</table>
	</fieldset>