<h1>Groups#room</h1>
<div id="myPublisherDiv"></div>
<p>unique url for this room is <span style="color:blue">tokboxapp.herokuapp.com/room/<%=@group.id%></span></p>
<%=@group.sessionId%>
 <%=@opentok_token%>
 <div id="subscribersDiv"></div>
<script src="http://static.opentok.com/v2/js/opentok.min.js" type="text/javascript"></script>
<script>

 var apiKey = 45297362;
 var sessionId ="<%=@group.sessionId%>" ;
 var token = "<%=@opentok_token%>";
 var session;
 OT.setLogLevel(OT.DEBUG);

 	session = OT.initSession(apiKey,sessionId);
  var subscriberOptions = {
  insertMode: 'append',
  width: 340,
  height: 260 
  };
 	session.on
 	({
 		streamCreated: function(event)
 		{
 			session.subscribe(event.stream,'subscribersDiv',subscriberOptions);
 		}
 	});

session.connect(token,function(error){
 		if(error)
 		{
 			console.log(error.message);
 		}
 		else{
 			session.publish('myPublisherDiv',{width: 320,height: 240});
 		}
 	});	
</script>
<%= javascript_include_tag "groups" %>