<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://static.opentok.com/v2/js/opentok.min.js' %>
  <%= csrf_meta_tags %>
</head>
<%=render 'layouts/header'%>
<body>

<%= yield %>
<%=render 'layouts/footer'%>
</body>
</html>
